%h2 CV

.span-18.last
  %h3 James Darling
  %p Experienced, creative and fast learning Ruby on Rails and front-end web developer, organiser and entrepreneur.
  .span-8
    %h4 Technical Skills:
    %ul
      %li Edge Rails, Sinatra or StaticMatic
      %li Semantic HTML and CSS
      %li Unobtrusive JavaScript (Jquery, Prototype, Low Pro)
      %li Behaviour driven development (rSpec)
      %li Source control (Git, Subversion)
      %li Capistrano deployment and intermediate sysadmin
      %li E-commerce (activemerchent, paypal)
  .span-8.last
    %h4 Other Skills:
    %ul
      %li Project management
      %li Information architecture
      %li User experience design
      %li Presenting
      %li Well connected in the technology, government and music industries
  
  %hr
  
  %h3 People's Music Store
  
  %p
    %strong Lead Developer 2008-09
  
  %p People's Music Store are at the forefront of developing new methods of music discovery and delivery by creating a social network for music fans.
  %ul
    %li Founded by music industry entrepreneur Ged Day (Bleep.com, Warp Films), I also worked with JavaScript and Rails expert Dan Webb.
    %li Head-hunted as an enthusiastic music fan and experienced web developer to help shape the direction of the business, and implement the technical needs.
    %li I implemented an incredibly fast agile development cycle allowing us to be first to market on a popular idea.
    %li I created solutions for the complicated e-commerce requirements, and the music industry's difficult accounting needs.
    %li Communicated with many labels, collection agencies and chart companies to deliver client-centric applications.
    %li I still consult for People's Music Store, providing both technical solutions and more general advice.
  
  %hr
  
  %h3 CitySafe Ltd.
  
  %p
    %strong Developer 2007-08

  %p CitySafe's pioneering and user-friendly approach defined and filled a market for integrated emergency response. CitySafe provided not only London's emergency notification systems, but also the incident response and co-ordination application in use by all 33 of her boroughs.

  %p I was asked to join on short notice to help with the large and growing demand the company was facing. In my year as part of the 5 person team, we completed and delivered a necessary re-write of the flagship product in Ruby on Rails, enabling the company to add two additional products to it's offering.
  
  %ul
    %li Created a mission critical application in daily use by the emergency services and local authorities.
    %li Worked with, and offered support to, police, councils and coroprate clients.
    %li Created usable applications that met regulatory requirements.
    %li Successfully delivered on technically challenging problems, including GIS for advanced geographic capabilities and critical communications over web (desktop and mobile), Email and SMS.
  
  %hr
  
  %h3 Sure Start
  %p
    %strong Project lead and developer 2006-07

  %p I was approached to help Sure Start gain better access and communication for providing assitance to remote Cornish young families.
  
  %ul
    %li Interviewed many staff members to ascertain the real needs of the organisation and how to transfer that to an online application.
    %li Created a custom application to meet their niche needs at lower costs than the current, unsatisfactory market offerings.
    %li Used Ruby on Rails to rapidly prototype the application.
  
  %hr
  
  %h3 Education

  %p
    %strong Woodbridge High School, London:
    %br
    10 GCSEs: 2 As, 5 Bs and 3 Cs
  
  %p
    %strong Penwith College, Cornwall:
    %br
    AS Levels: Computing A, Economics B, Music Technology B
    %br
    After consideration and consultation, I left my second year of A levels to meet the growing demand of my business.
    
  %hr
  
  %h3 Miscellaneous
  %ul
    %li
      A founding organiser of
      %a{:href => "http://www.lastordersontheunderground.com/"} "Last Orders on The Underground"
      party, organised via online social and conventional media. Well over 10,000 Attendees.
      %br
      Interviewed by
      %a{:href => "http://s.wsj.net/article/SB121235676949836121.html"} Wall Street Journal,
      %a{:href => "http://www.guardian.co.uk/society/2008/may/16/circle.line.cocktail.party"} The Guardian,
      ITN News, Bloomsberg and RTL (German National News).
    %li
      Amateur Musician. Grade 5 ABRSM Piano, basic Guitar and Ableton Live.
    %li
      Owner of a
      %a{:href => "http://www.flickr.com/photos/abscond/sets/72157603862728267/"} Milk Float
      older than myself.
  
  %hr
  
  %h3 References
  %p References are available on request, alternatively please feel free to contact the organisations listed.
