#welcome
  %p.hello Hello,
  %h1 This is Coup De
  %p.grey (the artist formerly known as <a href="http://abscond.org">abscond</a>)
  %p Somewhere in between a teenager's personal diary and a corporate networking event.
  %p Loosley focused around the life of <a href="#">James Darling</a>.
  