.column.span-9
  %p
.column.span-12.last
  %h1 Coup de beginnings
  
  %p Coming soon. In the mean time, James Darling can currently be found at
  
  %ul
    %li
      %a{:rel => "me", :href => "http://twitter.com/abscond"} Twitter
    %li
      %a{:rel => "me", :href => "http://flickr.com/photos/abscond/"} Flickr
    %li
      %a{:rel => "me", :href => "http://github.com/james/"} GitHub
    %li
      %a{:rel => "me", :href => "http://www.new.facebook.com/profile.php?id=505538500&ref=profile"} Facebook
    %li
      %a{:rel => "me", :href => "http://peoplesmusicstore.com/abscondrecords"} People's Music Store
    %li
      %a{:rel => "me", :href => "http://www.last.fm/user/Abscond/"} Last.fm
    %li
      %a{:rel => "me", :href => "http://upcoming.yahoo.com/user/49246/"} Upcoming
    %li
      Email me, james, here at this domain, abscond.org