.span-6.tight
  %p
    %img{:src => "/images/header.gif"}
#welcome.span-18.last
  %p.hello Hello,
  %h1
    This is Coup De
    %input{:type => :text}
  %p.grey (the artist formerly known as <a href="http://abscond.org">abscond</a>)
  %p it's somewhere in between a teenager's personal diary and a corporate networking event
  %p and loosley focused around the life of <a href="#">James Darling</a>.
  
%hr.space

.span-5
  %ul.menu
    %li
      %a{:href => "#about"} About
    %li
      %a{:href => "#writings"} Writings
    %li
      %a{:href => "#music"} Music
    %li 
      %a{:href => "#code"} Code
    %li 
      %a{:href => "#photos"} Photos
    %li 
      %a{:href => "#good_things"} Good things
    %li 
      %a{:href => "#last_orders"} Last Orders
    %li
      %a{:href => "#rewired_state"} Rewired State
    %li
      %a{:href => "#cv"} CV
    %li
      %a{:href => "#bucket_of_shite"} Bucket of Shite
    %li
      %a{:href => "#relme"} rel=me


.content.span-18.last
  
  #about.section
    %h2 About
    
    .span-12
      %p Coupde.com is a collage of the online life of James Darling. It's got the latest stuff I've been up to, along with basic info. Have a browse around.
                
      %h4 James Darling
      %p Hi. I'm James, and I happen to make things on the internet for fun and profit.
      %p I'm currently living in London, working as a freelance web developer and consultant type person.
      %p I have a load of interests, from raving to Government digital strategy. Have a look at some of the things I can do.
    
    .span-5.last
      %img{:src => "/images/me.jpg"}

    
    / .span-6.last
    /   %h4 How this site works
    /   
    /   %p Coupde.com works using only client side code.
  
  #writings.section
    %h2 Writings
    %a.tumble{:href => "http://tumble.coupde.com"} My Tumblog
    
    %a.twitter{:href => "http://twitter.com/coupde"} My Twitter page
  
  #music.section
    %h2 Music
    %a.gigs{:href => "http://last.fm/users/Abscond"} My last.fm events
    %a.tunes{:href => "http://peoplesmusicstore.com/coupde"} My Music Store
    / My Soundcloud

  #code.section
    %h2 Code
    %a.github{:href => "http://github.com/james"} My GitHub Page
    / My github commits
    / Things I use

  #photos.section
    %h2 Photos
    %a.photos{:href => "http://flickr.com/photos/abscond"} My flickr photos

  #good_things.section
    %h2 Good Things
    %a.links{:href => "http://delicious.com/coupde"} My delicious bookmarks  
    %a{:href => "http://www.openrightsgroup.org/"}
      %img{:src => "http://widgets.openrightsgroup.org/founding1000/since/956149.png", :alt => "Protecting your bits since 04/10/07. Open Rights Group founder #492"}
  
%hr.space

/
  #footer
    %h2.alt You can email me: James @ here, this domain, coupde.com