.span-6
  %p
    %img{:src => "/images/header.gif"}
#welcome.span-18.last
  %p.hello Hello,
  %h1
    This is Coup De
    %input{:type => :text}
  %p.grey (the artist formerly known as <a href="http://abscond.org">abscond</a>)
  %p it's somewhere in between a teenager's personal diary and a corporate networking event
  %p and loosley focused around the life of <a href="#">James Darling</a>.
  
%hr.space

.span-6
  %h2 Tumblog
  %a.tumble{:href => "http://tumble.coupde.com"} My Tumblog
  
  %h2 Twitter
  %a.twitter{:href => "http://twitter.com/coupde"} My Twitter page
  
  %h2 Links
  %a.links{:href => "http://delicious.com/coupde"} My delicious bookmarks

.span-6
  %h2 Photos
  %a.photos{:href => "http://flickr.com/photos/abscond"} My flickr photos

.span-6
  %h2 Tunes
  %a.tunes{:href => "http://peoplesmusicstore.com/coupde"} My Music Store
  
  %h2 Gigs
  %a.gigs{:href => "http://last.fm/users/Abscond"} My last.fm events
 
.span-6.last
  %h2 Code
  %a.github{:href => "http://github.com/james"} My GitHub Page
  
  %h2 Badges
  %a{:href => "http://www.openrightsgroup.org/"}
    %img{:src => "http://widgets.openrightsgroup.org/founding1000/since/956149.png", :alt => "Protecting your bits since 04/10/07. Open Rights Group founder #492"}

  
%hr.space

#footer
  %h2.alt You can email me: James @ here, this domain, coupde.com