body.javascripted
  .content
    
    h2
      display: none
  
  .section
    position: absolute
    width: 710px

body
  :font
    :family "Gill Sans","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif
    :size 100%
  a
    color: inherit
    
  a:hover
    color: #F4191F
  input
    :font
      :family "Gill Sans","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif
  
  .alt
    color: #666
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif
    font-style: italic
    font-weight: normal

  #welcome
    border-bottom: 1px #F4191F solid
    padding-bottom: 1em
  
    p
      :font
        :weight 100
        :family "GillSans-Light","Gill Sans Light","Gill Sans","Trebuchet MS",Verdana,Arial,Helvetica,sans-serif
        :size 1.5em
      margin: 0
      padding: 0
      line-height: 1.2
      
      img
        margin: 0 0 1.5em 0
    
    p.hello
      line-height: 0.8
    
    p.grey
      color: #ccc
    
      
    h1
      margin: 0
      padding: 0
      font:
        size: 2.3em
      color: #F4191F
      
      input
        border: none
        height: 1.2em
        font:
          size: 1em
        color: inherit
  
  .menu
    font-size: 66%
    margin-top: -0.2em
    margin-left: 0
    text-align: right
    list-style: none
    
    .current
      font-size: 200%
  
  ul.flickr_photos
    list-style: none
    margin: 0
    padding: 0
    
    li
      display: inline
      padding: 3px
      
      img
        height: 70px
  
  #footer
    text-align: center
  